.container-fluid{

    font-size: 35px;
    margin-top: 10px;
    margin-right: 1200px;
    
}
.table{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin:0px;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid black;
    color: black;
    list-style: none;
    
}
.c2{
    margin-right: 10%;
    margin-top: 0px;
    font-size: larger;
    
}
.tr{
    margin: 0;
    border: 1px solid black;
    list-style: none;
    position: fixed;
}
.table th{
color: black;
height: 40px;
list-style: none;
border: 1px solid black;
text-align: center;
margin: 0;


}
.c3{
    display: flex;
    margin-left: 30px;
    gap: 15px;
    width: 70%;
    padding-top: 10px;
}
.c4{
    display:flex;
    margin-left: 30px;
    gap: 15px;
    width: 70%;
    padding-top: 10px;
}
body{
    background-image: url(h12.jpeg);
}
.c5{
    display:flex;
    margin-left: 30px;
    gap: 15px;
    width: 70%;
    padding-top: 10px;
}
.c6{
    display:flex;
    margin-left: 30px;
    gap: 15px;
    width: 70%;
    padding-top: 10px;
}
.Dc7{
    display:flex;
    margin-left: 30px;
    gap: 15px;
    width: 70%;
    padding-top: 10px;
}
.Dc8{
    display:flex;
    margin-left: 30px;
    gap: 15px;
    width: 70%;
    padding-top: 10px;
}
.btn{
    margin-left: 65%;

}
.th a{
    margin-right: 20px;
    border: 1px solid black;
    position: fixed;

}
.form-switch.form-check-reverse {
    padding-right: 20.5rem;
}
.c7:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.c8:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.c9:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.c10:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.c11:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.c12:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.c13:hover{
    box-shadow:5px 5px 5px 5px grey; ;
}
.c14:hover{
    box-shadow:5px 5px 5px 5px grey; ;
}
.c15:hover{
    box-shadow:5px 5px 5px 5px grey; ;
}
.c16:hover:hover{
    box-shadow:5px 5px 5px 5px grey; ;
}
.c17:hover{
    box-shadow:5px 5px 5px 5px grey; ;
}
.c18:hover{
    box-shadow:5px 5px 5px 5px grey; ;
}

.form-check-input:checked{
    background-color: green;
    border-color: green;
}
.btn{
    background-color: rgb(10, 128, 32);;
}
a{
 list-style: none;
 color: black;
 text-decoration: inherit;
}


.pizza:hover{
   background-color:rgb(219, 12, 12);
   color: azure;
}
.c2 a{
    font-size: 15px;
}